node_modules/
dist/
.env
*.log
.DS_Store

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Evolution API
evolution_instances/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?